<!DOCTYPE html>
<html lang="tr">
    <title>Hakkında - Çilek Olgunluk Tespiti</title>
<head>
    {% include 'partials/header.html' %}
    <style>
        footer {
            position: static !important;
        }
    </style>
</head>
<body>
    {% include 'partials/navbar.html' %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h1 class="card-title text-center">Çilek Olgunluk Tespiti Hakkında</h1>
                        <p class="card-text text-center">Çilek Olgunluk Tespiti, görüntülerdeki çileklerin olgunluk seviyesini tespit etmek için makine öğrenme modelleri kullanan bir web uygulamasıdır.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/footer.html' %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
